---
import Layout from "../layouts/Layout.astro";
import Servicios from "../components/Servicios.astro";
import Footer from "../components/Footer.astro";
import Galeria from "../components/Galeria.astro";
import Welcome from "../components/Welcome.astro";
---

<Layout>
  <!-- Sección de Bienvenida -->
   <Welcome/>
  <!-- Sección de Transporte de Carga -->
  <div id="view_more">
    <div class="container flex mb-3 justify-content-between"></div>
    <section
      id="block7961"
      class="py-3 bg-transparent text-current border-opacity-30"
    >
      <div class="container mx-auto px-4">
        <div id="blockContent7961" class="flex flex-wrap -mx-2 gap-8">
          <!-- Columna de texto -->
          <div class="md:w-7/12 sm:w-9/12 px-4" data-aos="fade-up">
            <div class="px-4 lg:px-8">
              <h2 class="mb-3 text-3xl font-bold">Transporte de Carga</h2>
              <p class="mb-3 text-lg font-semibold text-opacity-75">
                Empresa de transporte de carga dentro y fuera del gran
                Longaví.
              </p>
              <div class="font-medium space-y-2">
                <p>
                  Contamos con personal de carga y descarga, y camiones cerrados
                  hasta 26m³.
                </p>
                <p>
                  Realizamos mudanzas desde o hacia la región del Maule,
                  garantizando un servicio puntual, responsable y profesional.
                  Cotizar y agendar con anticipación.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Sección de Nuestros Servicios -->
  <Servicios />    
  <Galeria/>
 

  <!-- Página de Formulario de Contacto -->
  <div class="py-3 sm:py-8">
    <!-- Centrado del formulario -->
    <div class="flex items-center justify-center">
      <div class="col-lg-7">
        <div
          class="p-6 sm:p-12 rounded-lg border bg-gray-200 shadow-lg max-w-7xl w-12/12"
          data-aos="fade-up"
        >
          <div class="mb-5 col-lg-10 offset-lg-1 px-24">
            <h4 class="mb-3 font-bold text-lg text-center">CONTACTO</h4>
            <p class="mb-3 text-center">
              ¡Hola! Escríbenos en el formulario y en breve te respondemos.
            </p>
          </div>

          <!-- Formulario -->
          <form method="post" class="text-start" id="contactForm">
            <input type="hidden" name="request_submit" value="true" />
            <input type="hidden" name="page_id" value="102506" />
            <input type="text" name="user_lastname3" class="hidden" />

            <div class="mb-6">
              <label class="block text-sm font-semibold">Nombre</label>
              <input
                type="text"
                name="user_names"
                class="form-control p-3 border border-gray-300 rounded-md w-full"
                required
              />
            </div>

            <div class="mb-6">
              <label class="block text-sm font-semibold">Teléfono</label>
              <input
                type="tel"
                name="user_phone"
                class="form-control p-3 border border-gray-300 rounded-md w-full"
                required
              />
            </div>

            <div class="mb-6">
              <label class="block text-sm font-semibold">Correo</label>
              <input
                type="email"
                name="user_email"
                class="form-control p-3 border border-gray-300 rounded-md w-full"
                required
              />
            </div>

            <div class="mb-6">
              <label class="block text-sm font-semibold"
                >Fecha del traslado</label
              >
              <input
                type="date"
                name="customer_date"
                class="form-control p-3 border border-gray-300 rounded-md w-full"
                required
              />
            </div>

            <div class="mb-6">
              <label class="block text-sm font-semibold">Dirección</label>
              <input
                type="text"
                name="customer_address"
                class="form-control p-3 border border-gray-300 rounded-md w-full"
                required
              />
            </div>

            <div class="mb-6">
              <label class="block text-sm font-semibold"
                >Detalle de enseres a trasladar y observaciones</label
              >
              <textarea
                name="user_message"
                class="form-control p-3 border border-gray-300 rounded-md w-full"
                rows="5"
                maxlength="1000"></textarea>
            </div>

            <!-- Código de Seguridad -->
            <label class="block text-sm font-semibold"
              >Código de seguridad</label
            >
            <div class="flex gap-4 mb-6">
              <div class="w-1/2">
                <input
                  type="text"
                  class="form-control p-3 border border-gray-300 rounded-md w-full"
                  name="firstname"
                  value="75883"
                  readonly
                />
              </div>
              <div class="w-1/2">
                <input
                  type="text"
                  class="form-control p-3 border border-gray-300 rounded-md w-full"
                  name="lastname"
                  placeholder="Ingresa el código"
                  required
                />
              </div>
            </div>

            <button
              type="submit"
              name="subtn"
              class="btn btn-theme bg-blue-600 text-white p-3 rounded-md w-full"
              >Continuar</button
            >
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Información de Contacto -->
<section class="mt-8 px-4 sm:px-8 lg:px-24">
	<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-6 text-center " data-aos="fade-up">
	  
	  <!-- WhatsApp -->
	  <div class="py-6 px-4 sm:px-6 lg:px-8">
		<a href="https://wa.me/56981497275?text=Hola,%20escribo%20desde%template1.cl" class="text-reset">
		  <div class="py-6 px-5 bg-green-400 text-white rounded-lg shadow-md">
			<h1 class="text-4xl sm:text-5xl"><i class="bi-whatsapp"></i></h1>
			<p class="font-semibold text-lg sm:text-xl">WhatsApp</p>
			<p class="text-sm sm:text-base">56981497275</p>
		  </div>
		</a>
	  </div>
  
	  <!-- Email -->
	  <div class="py-6 px-4 sm:px-6 lg:px-8">
		<a href="mailto: contacto@example.cl" class="text-reset">
		  <div class="py-6 px-5 bg-blue-400 text-white rounded-lg shadow-md">
			<h1 class="text-4xl sm:text-5xl"><i class="bi-envelope"></i></h1>
			<p class="font-semibold text-lg sm:text-xl">Email</p>
			<p class="text-sm sm:text-base">contacto@example.cl</p>
		  </div>
		</a>
	  </div>
  
	  <!-- Dirección -->
	  <div class="py-6 px-4 sm:px-6 lg:px-8">
		<a href="#modal_contact_address" data-bs-toggle="modal" class="text-reset">
		  <div class="py-6 px-5 bg-gray-400 text-white rounded-lg shadow-md">
			<h1 class="text-4xl sm:text-5xl"><i class="bi-geo-alt"></i></h1>
			<p class="font-semibold text-lg sm:text-xl">Dirección</p>
			<p class="text-sm sm:text-base">Longaví, Chile</p>
		  </div>
		</a>
	  </div>
	  
	</div>
  </section>

  <Footer/>

</Layout>

