---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import coverImage from "../assets/cover-image.jpg";
---

<Layout>
  <!-- Sección de portada -->
  <section id="page_cover" class="px-4 pb-2 text-white relative bg-black">
    <div class="container mx-auto">
      <div class="flex flex-col items-center py-10 text-center text-white">
        <div
          class="mb-4"
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
        >
          <Image
            src={coverImage}
            class="max-h-[230px] max-w-full w-auto"
            alt="Cover Image"
          />
        </div>
        <div>
          <a
            href="#product_list"
            class="btn-theme inline-block px-6 py-3 text-white bg-[#B89037] hover:bg-yellow-600 rounded-full shadow-lg"
            data-aos="zoom-in">Contacto</a
          >
          <a
            href="#view_more"
            class="ml-3 text-white hover:underline"
            data-aos="zoom-in">Ver Más <i class="bi-caret-down-fill"></i></a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- Sección de Transporte de Carga -->
  <div id="view_more">
    <div class="container flex mb-3 justify-content-between"></div>
    <section
      id="block7961"
      class="py-3 bg-transparent text-current border-opacity-30"
    >
      <div class="container mx-auto px-4">
        <div id="blockContent7961" class="flex flex-wrap -mx-2 gap-8">
          <!-- Columna de texto -->
          <div class="md:w-7/12 sm:w-9/12 px-4" data-aos="fade-up">
            <div class="px-4 lg:px-8">
              <h2 class="mb-3 text-3xl font-bold">Transporte de Carga</h2>
              <p class="mb-3 text-lg font-semibold text-opacity-75">
                Empresa de transporte de carga dentro y fuera del gran
                Concepción.
              </p>
              <div class="font-medium space-y-2">
                <p>
                  Contamos con personal de carga y descarga, y camiones cerrados
                  hasta 26m³.
                </p>
                <p>
                  Realizamos mudanzas desde o hacia la región del BíoBío,
                  garantizando un servicio puntual, responsable y profesional.
                  Cotizar y agendar con anticipación.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Sección de Nuestros Servicios -->
  <section id="block7962" class="py-6 bg-white">
    <div class="container mx-auto px-4">
      <!-- Título -->
      <div class="mb-6 px-4 lg:px-8" data-aos="fade-up">
        <h2 class="text-2xl font-bold mb-3">Nuestros Servicios</h2>
        <p class="text-lg font-semibold text-opacity-75"></p>
      </div>

      <!-- Servicios -->
      <div class="flex flex-wrap -mx-2 px-4 lg:px-8">
        <!-- Servicio 1: Transporte -->
        <div class="md:w-3/12 px-2 mb-4 mt-3" data-aos="fade-up">
          <div class="flex flex-col items-center text-center space-y-3">
            <div class="text-5xl">
              <i class="bi bi-truck"></i>
            </div>
            <h5 class="text-lg font-medium">Transporte</h5>
            <p class="text-sm font-medium opacity-75">
              Transporte de carga en general para particulares, empresas,
              instituciones públicas y privadas.
            </p>
          </div>
        </div>

        <!-- Servicio 2: Mudanzas -->
        <div class="md:w-3/12 px-2 mb-4 mt-3" data-aos="fade-up">
          <div class="flex flex-col items-center text-center space-y-3">
            <div class="text-5xl">
              <i class="bi bi-house-door"></i>
            </div>
            <h5 class="text-lg font-medium">Mudanzas</h5>
            <p class="text-sm font-medium opacity-75">
              Mudanzas con o sin personal de carga y descarga. Con o sin
              embalaje film para mobiliario.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Página de Formulario de Contacto -->
  <div class="py-3 sm:py-8">
    <!-- Centrado del formulario -->
    <div class="flex items-center justify-center">
      <div class="col-lg-7">
        <div
          class="p-6 sm:p-12 rounded-lg border bg-gray-200 shadow-lg max-w-7xl w-12/12"
          data-aos="fade-up"
        >
          <div class="mb-5 col-lg-10 offset-lg-1 px-24">
            <h4 class="mb-3 font-bold text-lg text-center">CONTACTO</h4>
            <p class="mb-3 text-center">
              ¡Hola! Escríbenos en el formulario y en breve te respondemos.
            </p>
          </div>

          <!-- Formulario -->
          <form method="post" class="text-start" id="contactForm">
            <input type="hidden" name="request_submit" value="true" />
            <input type="hidden" name="page_id" value="102506" />
            <input type="text" name="user_lastname3" class="hidden" />

            <div class="mb-6">
              <label class="block text-sm font-semibold">Nombre</label>
              <input
                type="text"
                name="user_names"
                class="form-control p-3 border border-gray-300 rounded-md w-full"
                required
              />
            </div>

            <div class="mb-6">
              <label class="block text-sm font-semibold">Teléfono</label>
              <input
                type="tel"
                name="user_phone"
                class="form-control p-3 border border-gray-300 rounded-md w-full"
                required
              />
            </div>

            <div class="mb-6">
              <label class="block text-sm font-semibold">Correo</label>
              <input
                type="email"
                name="user_email"
                class="form-control p-3 border border-gray-300 rounded-md w-full"
                required
              />
            </div>

            <div class="mb-6">
              <label class="block text-sm font-semibold"
                >Fecha del traslado</label
              >
              <input
                type="date"
                name="customer_date"
                class="form-control p-3 border border-gray-300 rounded-md w-full"
                required
              />
            </div>

            <div class="mb-6">
              <label class="block text-sm font-semibold">Dirección</label>
              <input
                type="text"
                name="customer_address"
                class="form-control p-3 border border-gray-300 rounded-md w-full"
                required
              />
            </div>

            <div class="mb-6">
              <label class="block text-sm font-semibold"
                >Detalle de enseres a trasladar y observaciones</label
              >
              <textarea
                name="user_message"
                class="form-control p-3 border border-gray-300 rounded-md w-full"
                rows="5"
                maxlength="1000"></textarea>
            </div>

            <!-- Código de Seguridad -->
            <label class="block text-sm font-semibold"
              >Código de seguridad</label
            >
            <div class="flex gap-4 mb-6">
              <div class="w-1/2">
                <input
                  type="text"
                  class="form-control p-3 border border-gray-300 rounded-md w-full"
                  name="firstname"
                  value="75883"
                  readonly
                />
              </div>
              <div class="w-1/2">
                <input
                  type="text"
                  class="form-control p-3 border border-gray-300 rounded-md w-full"
                  name="lastname"
                  placeholder="Ingresa el código"
                  required
                />
              </div>
            </div>

            <button
              type="submit"
              name="subtn"
              class="btn btn-theme bg-blue-600 text-white p-3 rounded-md w-full"
              >Continuar</button
            >
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Información de Contacto -->
<section class="mt-8 px-4 sm:px-8 lg:px-24">
	<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-6 text-center " data-aos="fade-up">
	  
	  <!-- WhatsApp -->
	  <div class="py-6 px-4 sm:px-6 lg:px-8">
		<a href="https://wa.me/56942313615?text=Hola,%20escribo%20desde%20transportesreyes.cl" class="text-reset">
		  <div class="py-6 px-5 bg-green-400 text-white rounded-lg shadow-md">
			<h1 class="text-4xl sm:text-5xl"><i class="bi-whatsapp"></i></h1>
			<p class="font-semibold text-lg sm:text-xl">WhatsApp</p>
			<p class="text-sm sm:text-base">56942313615</p>
		  </div>
		</a>
	  </div>
  
	  <!-- Email -->
	  <div class="py-6 px-4 sm:px-6 lg:px-8">
		<a href="mailto: contacto@transportesreyes.cl" class="text-reset">
		  <div class="py-6 px-5 bg-blue-400 text-white rounded-lg shadow-md">
			<h1 class="text-4xl sm:text-5xl"><i class="bi-envelope"></i></h1>
			<p class="font-semibold text-lg sm:text-xl">Email</p>
			<p class="text-sm sm:text-base">contacto@transportesreyes.cl</p>
		  </div>
		</a>
	  </div>
  
	  <!-- Dirección -->
	  <div class="py-6 px-4 sm:px-6 lg:px-8">
		<a href="#modal_contact_address" data-bs-toggle="modal" class="text-reset">
		  <div class="py-6 px-5 bg-gray-400 text-white rounded-lg shadow-md">
			<h1 class="text-4xl sm:text-5xl"><i class="bi-geo-alt"></i></h1>
			<p class="font-semibold text-lg sm:text-xl">Dirección</p>
			<p class="text-sm sm:text-base">Concepción, Chile</p>
		  </div>
		</a>
	  </div>
	  
	</div>
  </section>
  

  <footer id="page_footer" class="py-5 bg-black text-white">
	<div class="container mx-auto px-4 sm:px-8 lg:px-24">
	  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
		
		<!-- Sección de texto principal -->
		<div class="mb-3">
		  <p class="mb-1 font-semibold text-lg sm:text-xl">Transportes Reyes</p>
		  <p class="mb-1 text-sm sm:text-base">
			Mudanzas en Concepción Fletes en Concepción Transporte en Concepción
			Transporte de carga Repartos en Concepción Mudanzas Santiago
		  </p>
		</div>
  
		<!-- Sección de enlaces (vacía en este caso) -->
		<div class="mb-3 text-right"></div>
	  </div>
  
	  <!-- Lista de contacto -->
	  <ul class="list-none list-inside text-sm flex flex-wrap gap-4 mb-4 justify-center sm:justify-start">
		<li class="mb-3">
		  <a class="text-white" href="https://wa.me/56942313615?text=Hola,%20escribo%20desde%20transportesreyes.cl">
			<i class="bi-whatsapp"></i> 56942313615
		  </a>
		</li>
		<li class="mb-3">
		  <a class="text-white" href="mailto:contacto@transportesreyes.cl">
			<i class="bi-envelope"></i> contacto@transportesreyes.cl
		  </a>
		</li>
		<li class="mb-3">
		  <a class="text-white" href="#modal_contact_address" data-bs-toggle="modal">
			<i class="bi-geo-alt"></i> Concepción, Chile.
		  </a>
		</li>
	  </ul>
  
	  <!-- Línea de separación -->
	  <hr class="my-4 border-gray-600" />
  
	  <!-- Footer inferior -->
	  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 text-sm">
		<div class="text-center md:text-left">
		  <span>Todos los derechos reservados</span>
		</div>
  
		<div class="text-center md:text-right">
		  <a href="https://instagram.com/transportesreyes.cl" class="text-white mx-3" target="_blank">
			<i class="bi-instagram"></i>
		  </a>
		  <a href="/panel/" class="text-white">
			<i class="bi-gear-fill"></i>
		  </a>
		</div>
	  </div>
	</div>
  </footer>
  
</Layout>
