---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets"; 
import coverImage from "../assets/cover-image.jpg";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section id="page_cover" class="px-4 pb-2 text-white relative bg-black">
		<div class="container mx-auto">
		  <div class="flex flex-col items-center py-10 text-center text-white">
			<div class="mb-4" data-aos="fade-down">
			  <Image src={coverImage} class="max-h-[230px] max-w-full object-contain" alt="Cover Image">
			</div>
			<div>
			  <a href="#product_list" class="btn-theme inline-block px-6 py-3 text-white bg-yellow-700 hover:bg-yellow-600 rounded-full shadow-lg" data-aos="zoom-in">Contacto</a>
			  <a href="#view_more" class="ml-3 text-white hover:underline" data-aos="zoom-in">Ver Más <i class="bi-caret-down-fill"></i></a>
			</div>
		  </div>
		</div>
	  </section>	<!-- SECTION -->
	  <div id="view_more">

		<div id="view_more">

			<section id="block7961" class="py-3 bg-transparent text-current border-opacity-30">
				<div class="container mx-auto px-4 sm:px-6 lg:px-8">
				  <div id="blockContent7961" class="block">
					<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
					  
					  <div class="aos-init aos-animate" data-aos="fade-up">
						<div>
						  <h2 class="mb-3 text-2xl font-bold text-left">Transporte de Carga</h2>
						  <p class="mb-3 text-lg font-semibold text-opacity-75 text-left">
							Empresa de transporte de carga dentro y fuera del gran Concepción.
						  </p>
						  <div class="font-medium space-y-2 text-left">
							<p>Contamos con personal de carga y descarga, y camiones cerrados hasta 26m³.</p>
							<p>Realizamos mudanzas desde o hacia la región del BíoBío, garantizando un servicio puntual, responsable y profesional. Cotizar y agendar con anticipación.</p>
						  </div>
						</div>
					  </div>
			  
					</div>
				  </div>
				</div>
			  </section>
			  
			  
		  </div>
	  </div>
	  
</Layout>
