---
//src/pages/login.astro
import Layout from '../layouts/Layout.astro';
const user = Astro.locals.user;
---

<Layout>
  <main class="flex flex-col items-center justify-center min-h-screen gap-4 bg-black">
	 {user ? (
        <div class="flex flex-col gap-4 bg-black p-6 rounded-lg shadow-lg text-center">
          <h1 class="text-2xl font-semibold text-white">
            ¡Bienvenido, {user.username}!
          </h1>
          <form method="POST" action="/api/signout" class="w-full" id="logoutForm" data-astro-reload>
            <button
              class="w-full bg-red-600 text-white py-2 rounded-lg hover:bg-red-700 transition duration-200 mb-4"
              type="submit"
            >
              ¡Cerrar sesión!
            </button>
            <div class="flex flex-col items-center gap-4 bg-gray-800">
              <a href="/dashboard" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition duration-200 text-center">
                Ir al Dashboard
              </a>
          </div>
          </form>
        </div>
      ) : (
        <div class="flex flex-col items-center gap-4 bg-gray-800 p-6 rounded-lg shadow-lg text-center mb-14">
          <h1 class="text-2xl font-semibold text-white">¡Bienvenido Admin!</h1>
          <a href="/api/github" class="w-full bg-gray-900 text-white py-2 rounded-lg hover:bg-gray-700 transition duration-200 text-center" data-astro-reload>
            Iniciar sesión con GitHub
          </a>
          <a href="/signup" class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition duration-200 text-center" data-astro-reload>
            Registrarse
          </a>
          <a href="/signin" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition duration-200 text-center" data-astro-reload>
            Iniciar sesión
          </a>
        </div>
      )}
      </main>
      
</Layout>

