<section id="contact" class="max-w-screen-xl mx-auto px-4 py-12 sm:py-24">
  <div class="flex flex-col gap-12">
    <div class="max-w-lg space-y-8">
      <h2 class="font-bold text-lg">Contactez-nous</h2>
      <p>
        Prenez rendez-vous pour une transformation capillaire exceptionnelle.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="md:col-span-1 flex flex-col gap-4">
        <div class="rb-5">
          <svg
            class="size-12 text-primary"
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill="currentColor"
              d="M12 2c-4.418 0-8 4.003-8 8.5c0 4.462 2.553 9.312 6.537 11.174a3.45 3.45 0 0 0 2.926 0C17.447 19.812 20 14.962 20 10.5C20 6.003 16.418 2 12 2"
              opacity=".5"></path><path
              fill="currentColor"
              d="M12 12.5a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5"></path></svg
          >
        </div>
        <h3 class="font-bold text-lg">Salon</h3>
        <p>Visitez notre salon de coiffure à Schaerbeek, Belgique.</p>
        <a
          class="underline"
          href="https://maps.app.goo.gl/kV45ocpWJ3cwKmdh6"
          target="_blank"
          rel="noopener noreferrer"
        >
          Longaví, Maule
        </a>
        <div class="mt-4 space-y-4">
          <h3 class="font-semibold text-lg">Horaires d'ouverture :</h3>
          <ul class="text-sm">
            <li>Lundi : Fermé</li><li>Mardi : 10h00 - 18h00</li><li>
              Mercredi : 10h00 - 18h00
            </li><li>Jeudi : 10h00 - 18h00</li><li>
              Vendredi : 10h00 - 18h00
            </li><li>Samedi : 09h00 - 16h00</li><li>Dimanche : Fermé</li>
          </ul>
        </div>
      </div>
      <div class="md:col-span-2 h-[500px] rounded-lg overflow-hidden">
        <iframe
          <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3227.237646704431!2d-71.6243564120562!3d-36.014489752389785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2scl!4v1736191563717!5m2!1ses-419!2scl"
          width="100%"
          height="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="flex flex-col gap-4">
        <div class="rb-5">
          <svg
            class="size-12 text-primary"
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill="currentColor"
              d="M14.2 3H9.8C5.652 3 3.577 3 2.289 4.318S1 7.758 1 12s0 6.364 1.289 7.682S5.652 21 9.8 21h4.4c4.148 0 6.223 0 7.511-1.318S23 16.242 23 12s0-6.364-1.289-7.682S18.348 3 14.2 3"
              opacity=".5"></path><path
              fill="currentColor"
              d="M19.128 8.033a.825.825 0 0 0-1.056-1.268l-2.375 1.98c-1.026.855-1.738 1.447-2.34 1.833c-.582.375-.977.5-1.357.5s-.774-.125-1.357-.5c-.601-.386-1.314-.978-2.34-1.834L5.928 6.765a.825.825 0 0 0-1.056 1.268l2.416 2.014c.975.812 1.765 1.47 2.463 1.92c.726.466 1.434.762 2.25.762c.814 0 1.522-.296 2.249-.763c.697-.448 1.487-1.107 2.462-1.92z"
            ></path></svg
          >
        </div>
        <h3 class="font-bold text-lg">E-mail</h3>
        <p>
          Envoyez-nous un e-mail pour toute question ou pour prendre
          rendez-vous.
        </p>
        <a class="underline" href="mailto:example@gmail.com"
          >example@gmail.com</a
        >
      </div>
      <div class="flex flex-col gap-4">
        <div class="rb-5">
          <svg
            class="size-12 text-primary"
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill="currentColor"
              d="M6.94 2c.416 0 .753.324.753.724v1.46c.668-.012 1.417-.012 2.26-.012h4.015c.842 0 1.591 0 2.259.013v-1.46c0-.4.337-.725.753-.725s.753.324.753.724V4.25c1.445.111 2.394.384 3.09 1.055c.698.67.982 1.582 1.097 2.972L22 9H2v-.724c.116-1.39.4-2.302 1.097-2.972s1.645-.944 3.09-1.055V2.724c0-.4.337-.724.753-.724"
            ></path><path
              fill="currentColor"
              d="M22 14v-2c0-.839-.004-2.335-.017-3H2.01c-.013.665-.01 2.161-.01 3v2c0 3.771 0 5.657 1.172 6.828S6.228 22 10 22h4c3.77 0 5.656 0 6.828-1.172S22 17.772 22 14"
              opacity=".5"></path><path
              fill="currentColor"
              d="M18 17a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-5 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-5 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0"
            ></path></svg
          >
        </div>
        <h3 class="font-bold text-lg">Téléphone</h3>
        <p>Appelez-nous pour prendre rendez-vous ou pour toute information.</p>
        <a class="underline" href="tel:5698149727">569 81497275</a>
      </div>
      <div class="flex flex-col gap-4">
        <div class="rb-5">
          <svg
            class="size-12 text-primary"
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill="currentColor"
              d="m10.038 5.316l.649 1.163c.585 1.05.35 2.426-.572 3.349c0 0-1.12 1.119.91 3.148c2.027 2.027 3.146.91 3.147.91c.923-.923 2.3-1.158 3.349-.573l1.163.65c1.585.884 1.772 3.106.379 4.5c-.837.836-1.863 1.488-2.996 1.53c-1.908.073-5.149-.41-8.4-3.66c-3.25-3.251-3.733-6.492-3.66-8.4c.043-1.133.694-2.159 1.53-2.996c1.394-1.393 3.616-1.206 4.5.38"
              opacity=".5"></path><path
              fill="currentColor"
              fill-rule="evenodd"
              d="M13.486 5.33a.75.75 0 0 1 .927-.516l-.206.721l.206-.72h.003l.003.001l.008.002l.02.006l.056.02q.067.023.177.07c.146.062.345.158.59.303c.489.29 1.157.77 1.942 1.556c.785.785 1.266 1.453 1.556 1.942c.145.245.241.444.303.59a3 3 0 0 1 .09.233l.005.02l.003.008v.003l.001.001s0 .002-.72.208l.72-.206a.75.75 0 0 1-1.439.422l-.003-.01l-.035-.088a4 4 0 0 0-.216-.417c-.223-.376-.626-.946-1.326-1.646s-1.269-1.102-1.646-1.325a4 4 0 0 0-.504-.25l-.01-.004a.75.75 0 0 1-.505-.925"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <h3 class="font-bold text-lg">Réservation en ligne</h3>
        <p>
          Réservez votre rendez-vous en ligne pour une expérience personnalisée.
        </p>
        <a
          class="underline"
          href=""
          >https://example.cl</a
        >
      </div>
    </div>
  </div>
</section>
