<footer id="page_footer" class="py-5 bg-black text-white">
	<div class="container mx-auto px-4 sm:px-8 lg:px-24">
	  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
		
		<!-- Sección de texto principal -->
		<div class="mb-3">
		  <p class="mb-1 font-semibold text-lg sm:text-xl">Transportes Reyes</p>
      <p class="mb-1 text-sm sm:text-base text-gray-300 leading-relaxed">
        <span class="font-semibold">Mudanzas en Longaví</span> • 
        <span class="font-semibold">Fletes en Longaví</span> • 
        <span class="font-semibold">Transporte en Longaví</span> • 
        <span class="font-semibold">Transporte de carga</span> • 
        <span class="font-semibold">Repartos en Longaví</span> • 
        <span class="font-semibold">Mudanzas Santiago</span>
      </p>
      
		</div>
  
		<!-- Sección de enlaces (vacía en este caso) -->
		<div class="mb-3 text-right"></div>
	  </div>
  
	  <!-- Lista de contacto -->
	  <ul class="list-none list-inside text-sm flex flex-wrap gap-4 mb-4 justify-center sm:justify-start">
		<li class="mb-3">
		  <a class="text-white" href="https://wa.me/56981497275?text=Hola,%20escribo%20desde%20transportesreyes.cl">
			<i class="bi-whatsapp"></i> 56981497275
		  </a>
		</li>
		<li class="mb-3">
		  <a class="text-white" href="mailto:contacto@example.cl">
			<i class="bi-envelope"></i> contacto@example.cl
		  </a>
		</li>
		<li class="mb-3">
		  <a class="text-white" href="#modal_contact_address" data-bs-toggle="modal">
			<i class="bi-geo-alt"></i> Longaví, Chile.
		  </a>
		</li>
	  </ul>
  
	  <!-- Línea de separación -->
	  <hr class="my-4 border-gray-600" />
  
	  <!-- Footer inferior -->
	  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 text-sm">
		<div class="text-center md:text-left">
		  <span>Todos los derechos reservados</span>
		</div>
  
		<div class="text-center md:text-right">
		  <a href="https://instagram.com/example.cl" class="text-white mx-3" target="_blank">
			<i class="bi-instagram"></i>
		  </a>
		  <a href="/login/" class="text-white">
			<i class="bi-gear-fill"></i>
		  </a>
		</div>
	  </div>
	</div>
  </footer>