---
import { Image } from "astro:assets"; 
import coverImage from "../assets/cover-image.jpg";
---

<section id="page_cover" class="px-4 pb-2 text-white relative bg-black">
	<div class="container mx-auto">
	  <div class="flex flex-col items-center py-10 text-center text-white">
		<div class="mb-4" data-aos="fade-down">
		  <Image src={coverImage} class="max-h-[230px] max-w-full object-contain" alt="Cover Image">
		</div>
		<div>
		  <a href="#contactForm" class="btn-theme inline-block px-6 py-3 text-white bg-yellow-700 hover:bg-yellow-600 rounded-full shadow-lg" data-aos="zoom-in">Contacto</a>
		  <a href="#view_more" class="ml-3 text-white hover:underline" data-aos="zoom-in">Ver Más <i class="bi-caret-down-fill"></i></a>
		</div>
	  </div>
	</div>
  </section>

	
  
