<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
		<title>Template 1</title>
	</head>
	<body class="h-screen bg-gray-50 text-gray-800 font-sans">
		<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<slot />
		<script>
			//@ts-ignore
			AOS.init();
		  </script>
		  <a href="https://wa.me/56981497275" class="floatwapp text-black"><i class="bi-whatsapp"></i></a>
	</body>
</html>

<style>
	.floatwapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 27px;
    right: 25px;
    background-color: #25d366;
    border-radius: 50px;
    text-align: center;
    font-size: 34px;
    padding-top: 5px;
    z-index: 100;
}


a {
    text-decoration: none;
    opacity: 0.92;
}
</style>